<div class="card jh-card">
  <div>
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1>Create challenge</h1>
        <br>
        <div class="alert alert-success" *ngIf="success">
          <strong>Registration saved!</strong> Please check your email for confirmation.
        </div>

        <div class="alert alert-danger" *ngIf="error">
          <strong>Registration failed!</strong> Please try again later.
        </div>

      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form name="form" role="form" (ngSubmit)="onSubmit()" [formGroup]="saveForm" *ngIf="!success">
          <div class="form-group">
            <label class="form-control-label" for="startDate">Start date</label>
            <input type="text" class="form-control" id="startDate" name="startDate" [(ngModel)]="challenge.startDate" placeholder="Start date"
                   formControlName="startDate">
            <div
                    *ngIf="saveForm.get('startDate').invalid && (saveForm.get('startDate').dirty || saveForm.get('startDate').touched)">
              <small class="form-text text-danger" *ngIf="saveForm.get('startDate').errors.required"
              >
                Start date is required.
              </small>

              <small class="form-text text-danger" *ngIf="saveForm.get('startDate').errors.pattern"
              >
                Wrong format for start date. The correct format is yyyy-MM-dd.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="endDate">End date</label>
            <input type="text" class="form-control" id="endDate" name="endDate" placeholder="End date" [(ngModel)]="challenge.endDate"
                   formControlName="endDate">
            <div
                    *ngIf="saveForm.get('endDate').invalid && (saveForm.get('endDate').dirty || saveForm.get('endDate').touched)">
              <small class="form-text text-danger" *ngIf="saveForm.get('endDate').errors.required"
              >
                End date is required.
              </small>
              <small class="form-text text-danger" *ngIf="saveForm.get('endDate').errors.pattern"
              >
                Wrong format for end date. The correct format is yyyy-MM-dd.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label for="statusSelect">Status</label>
            <select class="custom-select form-styling" id="statusSelect"  name="status" formControlName="status" [(ngModel)]="challenge.status">
              <option selected="">Select status</option>
              <option value="PRIVATE">Private</option>
              <option value="PUBLIC">Public</option>
            </select>
            <div
                    *ngIf="saveForm.get('status').invalid && (saveForm.get('status').dirty || saveForm.get('status').touched)">
              <small class="form-text text-danger" *ngIf="saveForm.get('status').errors.required"
              >
                Status is required.
              </small>

            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="points">Points</label>
            <input type="text" class="form-control" id="points" name="points" placeholder="Points" [(ngModel)]="challenge.points"
                   formControlName="points">
            <div
                    *ngIf="saveForm.get('points').invalid && (saveForm.get('points').dirty || saveForm.get('points').touched)">
              <small class="form-text text-danger" *ngIf="saveForm.get('points').errors.required"
              >
                Points are required.
              </small>
              <small class="form-text text-danger" *ngIf="saveForm.get('points').errors.pattern"
              >
                Points must be a number.
              </small>

            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Description" [(ngModel)]="challenge.description"
                   formControlName="description">
            <div
                    *ngIf="saveForm.get('description').invalid && (saveForm.get('description').dirty || saveForm.get('description').touched)">
              <small class="form-text text-danger" *ngIf="saveForm.get('description').errors.required"
              >
                Description is required.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label for="categorySelect">Category</label>
            <select class="custom-select form-styling" id="categorySelect"  name="categoryName" formControlName="categoryName" [(ngModel)]="selectedCategoryIndex">
              <option selected="">Select category</option>
              <option *ngFor="let challengeCategory of challengeCategories" [value]="challengeCategories.indexOf(challengeCategory)">{{challengeCategory.name}}</option>
            </select>
          </div>

          <div class="submit-button" align="center">

            <button type="submit" [disabled]="saveForm.invalid" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" (click)="previousState()">
              <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
